body {
    background: #1fc8db;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
    height: 100%;
    position: relative;
    text-align: center;
}

.outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.content {
	background: white;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
			box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	width: 600px;
}

#name, #sender-email, #subject, #message {
    border: 1px solid #ccc;
    border-radius: 3px;
}

#name, #sender-email {
    display: inline;
    margin-bottom: 15px;
    width: 40%;
}

#name {
    margin-right: 5px;
}

#sender-email {
    margin-left: 5px;
}

#subject, #message {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 82.5%;
}

#message {
    padding-bottom: 100px;
}

.modal-body > div:first-child {
    margin: 0 auto;
}

#contact-info-table {
    margin: 0 auto;
}

#contact-info-table > tbody > tr > td {
    border-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

#contact-info-table > tbody > tr > td > a {
    color: black !important;
    font-size: 100%;
    padding: 0;
}

.left-column {
    padding-right: 8px;
    text-align: right;
}

.right-column {
    padding-left: 8px;
    text-align: left;
    -webkit-touch-callout: initial;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}

.modal-title-custom {
    font-size: 200%;
}

.modal-content {
    color: black;
}

#DM-title {
    font-size: 150%;
    margin-bottom: 16px;
}

#send {
	border: 1px solid #ccc !important;
    border-radius: 3px;
    color: black !important;
    cursor: pointer;
    display: inline;
    font-size: 125%;
    font-weight: 300;
	padding: 3px 5px;
}