body {
    background: #1fc8db;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 200%;
}

.outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.content {
	background: white;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .5);
			box-shadow: 0 4px 20px rgba(0, 0, 0, .5);
	padding: 10px 20px;
}