@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

html {
    height: 100%;
}

body {
    background: #1fc8db;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f1f1f1;
    font-family: sans-serif;
    font-weight: 300;
    height: 100%;
    position: relative;
    text-align: center;
}

#main-table {
    font-weight: 400;
    margin: auto;
    width: 80vw;
}

h1, h2 {
    font-weight: 200;
    margin: 0 auto;
}

h1 { 
    font-size: 1200%;
    font-size: 13vw;
}

h2 {
    font-size: 350%;
    font-size: 4vw;
    font-weight: 200;
}

a, a:link, a:visited, a:hover, a:active {
    background-color: transparent;
    border-color: #f3f3f3;
    color: #f3f3f3;
    font-size: 2vw;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.btn-group > a:hover {
    background-color: transparent !important;
    border: 1px solid #f3f3f3 !important;
    color: #f3f3f3;
    text-decoration: underline;
}

.detail-text, .detail-text > a {
    font-size: 1.5vw;
}

.detail-text {
    margin-bottom: 1.5vw;
    margin-top: 1vw;
}

.detail-text > a {
    padding: 0;
    text-decoration: underline;
}

h2 > div:nth-child(2) {
    font-weight: 400;
}

tr:nth-child(1) > td {
    padding-bottom: -1vw;
}

tr:nth-child(2) > td {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 1vw;
    padding-top: 2vw;
}

tr:nth-child(2) > td:nth-child(2n+1) {
    vertical-align: top;
    width: 40vw;
}

tr:nth-child(2) > td:nth-child(2) {
    padding-top: 5vw;
    vertical-align: bottom;
}

tr:nth-child(3) > td {
    padding-top: 2.5vw;
}

td > span {
    font-size: 1.8vw;
}

.semi-transparent:not(:hover) {
    opacity: 0.4;
}

.hover-wiggle:hover {
    animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    20% {
        transform: translate3d(0, 0.5vw, 0);
    }
    
    40% {
        transform: translate3d(0, 0, 0);
    }

    55% {
        transform: translate3d(0, 0.3vw, 0);
    }
    
    70% {
        transform: translate3d(0, 0, 0);
    }

    85% {
        transform: translate3d(0, 0.15vw, 0);
    }
    
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.content { display: inline-block; vertical-align: middle; }
#name, #sender-email, #subject, #message { border-radius: 3px; border: 1px solid #ccc; }
#name, #sender-email { display: inline; width: 40%; margin-bottom: 15px; }
#name { margin-right: 5px; }
#sender-email { margin-left: 5px; }
#subject, #message { display: block; margin: auto; width: 82.5%; margin-bottom: 15px; }
#message { padding-bottom: 100px; }

.modal-body > div:first-child {
    margin: 0 auto;
}

#contact-info-table {
    margin: 0 auto;
}

#contact-info-table > tbody > tr > td {
    border-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

#contact-info-table > tbody > tr > td > a {
    color: black;
    font-size: 100%;
    padding: 0;
}

.left-column { text-align: right; padding-right: 8px; }
.right-column { text-align: left; padding-left: 8px; }
.modal-title-custom { font-size: 200%; }
.modal-content { color: black; }
#DM-title { margin-bottom: 16px; font-size: 150%; }
#send { display: inline; font-size: 125%; cursor: pointer; font-weight: 400;}