@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html {
    height: 100%;
}

body {
    background: #1fc8db;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f1f1f1;
    font-family: sans-serif;
    font-weight: 300;
    height: 100%;
    position: relative;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main-table {
    margin: auto;
    max-width: 740px;
    min-width: 236.8px;
    width: 74vw;
}

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 20vw;
    text-align: center;
    white-space: nowrap;
}

.shadow-header {
    color: black;
    opacity: 0.15;
    position: fixed;
    -ms-transform: skew(-70deg, 0deg) scale(1, 0.42);
    -webkit-transform: skew(-70deg, 0deg) scale(1, 0.42);
    transform: skew(-70deg, 0deg) scale(1, 0.42);
    z-index: -1;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 6vw;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 1.5vw;
}

a, a:link, a:visited, a:hover, a:active {
    background-color: transparent !important;
    border-color: #f3f3f3 !important;
    color: #f3f3f3 !important;
    font-size: 2vw;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.btn-group {
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-group > a:hover, a:active {
    text-decoration: underline !important;
}

.detail-text, .detail-text > a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.detail-text {
    margin-bottom: 1.5vw;
    margin-top: 1vw;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
}

.detail-text > a {
    padding: 0;
    text-decoration: underline;
}

#main-table > tbody > tr:nth-child(1) > td {
    padding-bottom: -1vw;
}

#main-table > tbody > tr:nth-child(2) > td {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 2vw;
}

#main-table > tbody > tr:nth-child(2) > td:nth-child(2n+1) {
    vertical-align: top;
    width: 40vw;
}

#main-table > tbody > tr:nth-child(2) > td:nth-child(2) {
    bottom: -0.8vw;
    position: relative;
    vertical-align: bottom;
}

#main-table > tbody > tr:nth-child(3) > td {
    padding-top: 2.5vw;
}

td > span {
    font-size: 1.8vw;
}

.semi-transparent:not(:hover) {
    opacity: 0.4;
}

.hover-wiggle:hover {
    animation: shake 0.25s linear both;
}

@keyframes shake {
    25%  {transform: rotate(20deg)}
    75%  {transform: rotate(-20deg)}
}

.outer {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

@media(max-width: 320px) {
    h1 { font-size: 64px; }
    h2 { font-size: 19.2px; margin-top: 4.8px; }
    a, a:link, a:visited, a:hover, a:active { font-size: 6.4px; }
    .detail-text, .detail-text > a { font-size: 4.8px; }
    .detail-text { margin-bottom: 4.8px; margin-top: 3.2px; padding-left: 4px; padding-right: 4px; }
    #main-table > tbody > tr:nth-child(1) > td { padding-bottom: -3.2px; }
    #main-table > tbody > tr:nth-child(2) > td { padding-bottom: 6.4px; }
    #main-table > tbody > tr:nth-child(2) > td:nth-child(2n+1) { width: 128px; }
    #main-table > tbody > tr:nth-child(2) > td:nth-child(2) { bottom: -2.56px; }
    #main-table > tbody > tr:nth-child(3) > td { padding-top: 8px; }
    td > span { font-size: 5.76px; }    
}

@media(min-width: 1000px) {
    h1 { font-size: 200px; }
    h2 { font-size: 60px; margin-top: 15px; }
    a, a:link, a:visited, a:hover, a:active { font-size: 20px; }
    .detail-text, .detail-text > a { font-size: 15px; }
    .detail-text { margin-bottom: 15px; margin-top: 10px; padding-left: 12.5px; padding-right: 12.5px; }
    #main-table > tbody > tr:nth-child(1) > td { padding-bottom: -10px; }
    #main-table > tbody > tr:nth-child(2) > td { padding-bottom: 20px; }
    #main-table > tbody > tr:nth-child(2) > td:nth-child(2n+1) { width: 400px; }
    #main-table > tbody > tr:nth-child(2) > td:nth-child(2) { bottom: -8px; }
    #main-table > tbody > tr:nth-child(3) > td { padding-top: 25px; }
    td > span { font-size: 18px; }
}