@import 'https://fonts.googleapis.com/css?family=Amatic+SC';
@import 'https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300';

/* PAGE ELEMENTS */

body {
    background: #1fc8db;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.container {
    max-width: 950px;
}

/* HEADER IMAGES */

img {
    height: auto;
    margin: 1em 0;
    max-width: 3em;
    min-width: 2em;
    opacity: 0.4;
    transition: opacity .35s ease-out;
    -moz-transition: opacity .35s ease-out;
    -o-transition: opacity .35s ease-out;
    -webkit-transition: opacity .35s ease-out;
}

@keyframes shake {
    25% { transform: rotate(8deg); }
    75% { transform: rotate(-8deg); }
}

img:hover {
    animation: shake 0.25s linear both;
    -moz-animation: shake 0.25s linear both;
    -o-animation: shake 0.25s linear both;
    -webkit-animation: shake 0.25s linear both;
    opacity: 1;
}

.links {
    line-height: 0;
    max-width: 600px;
    margin: auto;
    padding: 0;
    width: 80vw;
}

/* NAME TEXT */

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 20vw;
    white-space: nowrap;
}

/*.shadow-header {
    color: black;
    opacity: 0.15;
    position: fixed;
    transform: skew(-70deg, 0deg) scale(1, 0.42);
    -ms-transform: skew(-70deg, 0deg) scale(1, 0.42);
    -webkit-transform: skew(-70deg, 0deg) scale(1, 0.42);
    z-index: -1;
}*/

/* DIVIDER */

hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
}

/* INFO SECTION */

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5vw !important;
    letter-spacing: 0.125em;
    margin: 1.5vw 0;
    text-transform: uppercase;
}

.detail {
    line-height: 1.25em;
    margin-bottom: 1vw;
}

.detail a {
    color: white;
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media(max-width: 320px) {
    h1 { font-size: 4em; }
}

@media(max-width: 570px) {
    h2 {
        font-size: 2em !important;
        margin: 0.3125em 0;
    }
}

@media(min-width: 800px) {
    h2 {
        font-size: 3.5em
        !important; margin: 0.24em 0;
    }
}

@media(min-width: 1000px) {
    h1 { font-size: 13.75em; }
}