body {
    font-family: 'Helvetica Neue', 'Open-Light', sans-serif !important;
}

h1, h2, h3 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Open-Light', sans-serif !important;
}

h1 {
    font-size: 600%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 900%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 300%;
}

.weather-title {
    font-size: 200%;
}

#weather-content {
    display: inline-flex;
    align-items: center;
}

.current-temp:not(:empty), .current-humidity:not(:empty), .current-wind:not(:empty) {
    padding: 5px;
    font-size: 120%;
    border-radius: 1em;
    text-align: center;
}

.current-temp:not(:empty) {
    background-color: #ff4d4d;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.current-humidity:not(:empty) {
    background-color: #8080ff;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.current-wind:not(:empty) {
    background-color: #a6a6a6;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#weather-forecast, table {
    margin: 0 auto;
}

.bottom {
    padding-bottom: 5px;
}

input {
    height: 60px !important;
    font-size: 120% !important;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.outer-left, .outer-right {
    display: table;
    position: fixed;
    top: 0px;
    width: 70px;
    height: 100%;
}

.outer-left {
    left: 0px;
}

.outer-right {
    left: 70px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {}

#c1-menu-items, #c2-menu-items, #c3-menu-items, #c4-menu-items {
    position: fixed;
    width: 70px;
    bottom: 70px;
    left: 50%;
    height: 70px;
}

#c1-menu-items {
    margin-left: -140px;
}

#c2-menu-items {
    margin-left: -70px;
    height: 140px;
}

#c3-menu-items {
    margin-left: 0px;
    height: 210px;
}

#c4-menu-items {
    margin-left: 70px;
}

.courses {
    position: fixed;
    margin-left: -140px;
    bottom: 0;
    width: 280px;
}

.btn, .btn-lg, .btn-default {
    width: 70px !important;
    padding: 17.5px 0px 17.5px 0px !important;
    font-size: 25px;
    margin: 0 !important;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.tooltip > .tooltip-inner {
    white-space: nowrap;
}

.pred-header {
    font-size: 150%;
    padding: 10px 10px 0px 10px;
}

table {
    border: 1px solid black;
}

.pred-first-day {
    vertical-align: bottom;
}

.pred-other-days {
    vertical-align: top;
}

.pred-detail-top {
    border-top: 1px solid black;
}

td {
    width: 6em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

.forecast-icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}

.temperature, .humidity {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 125%;
    border-radius: 1em;
}

.temperature {
    background-color: #ff4d4d;
    margin-bottom: 0.1em;
}

.humidity {
    background-color: #8080ff;
}

a {
    cursor: pointer;
    margin-bottom: 80px;
}