@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body {
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 18px;
}

#page-content {
    background: #77d2ee;
    box-shadow: inset 0px 0px 10px 2px #808080;
    height: 100vh;
    width: 850px;
}

.modal-title, h1, h3 {
    font-family: 'PT Sans Narrow', sans-serif !important;
}

h3 {
    font-size: 300%;
}

#time {
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

#date {
    margin: 0;
}

hr {
    border-color: #878787;
    margin: 25px 225px;
}

.weather-title {
    font-size: 200%;
}

.weather-title img {
    margin-left: 0.2em;
}

#weather-content {
    align-items: center;
    display: inline-flex;
}

.current-temp:not(:empty), .current-humidity:not(:empty), .current-wind:not(:empty) {
    border-radius: 0.2em;
    font-size: 120%;
    margin: 0 0.2em;
    padding: 2px 5px;
    text-align: center;
}

#weather-forecast, table {
    margin: 0 auto;
}

.bottom {
    padding-bottom: 5px;
}

input {
    height: 60px !important;
    font-size: 120% !important;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.important-links {
    display: inline-block;
    margin-top: 0;
}

.work-link {
    display: none;
}

#c1-menu-items, #c2-menu-items, #c3-menu-items, #c4-menu-items {
    bottom: 70px;
    display: none;
    height: 70px;
    left: 50%;
    position: fixed;
    width: 70px;
}

#c1-menu-items {
    margin-left: -140px;
}

#c2-menu-items {
    margin-left: -70px;
    height: 140px;
}

#c3-menu-items {
    margin-left: 0px;
    height: 210px;
}

#c4-menu-items {
    margin-left: 70px;
}

.courses {
    position: fixed;
    margin-left: -140px;
    bottom: 0;
    width: 280px;
}

.btn, .btn-lg, .btn-default {
    background-color: #f2f2f2;
    border-color: #878787;
    border-radius: 0.15em !important;
    font-size: 25px;
    margin: 0 !important;
    padding: 17.5px 0px 17.5px 0px !important;
    width: 70px !important;
}

.btn:hover, .btn-lg:hover, .btn-default:hover, td:hover {
    background-color: #d9d9d9;
    border-color: #878787;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.tooltip > .tooltip-inner {
    white-space: nowrap;
}

.pred-header {
    font-size: 150%;
    padding: 0 10px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 10px;
}

td {
    background-color: #f2f2f2;
    border: 1px solid #878787;
    border-radius: 0.3em !important;
    margin: 10px !important;
    padding: 10px !important;
    width: 5em;
}

.forecast-icon {
    display: block;
    height: 4.5em;
    margin: 0 auto;
    padding: 4px 0;
    width: auto;
}

.pred-icon, .temperature, .humidity {
    display: inline;
    font-size: 125%;
}

.temperature {
    margin-bottom: 0.1em;
}

a {
    cursor: pointer;
    margin-bottom: 80px;
}