@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

html {
    font-size: 18px;
}

.collection {
    margin: 0;
    padding: 0.5rem !important;
}

.collection-item {
    cursor: pointer;
    padding: 0.5rem !important;
}

.collection .collection-item.active {
    background-color: initial;
    color: initial;
}

.panorama {
    font-family: 'PT Sans Narrow', sans-serif !important;
    text-align: center;
}

.card-content p {
    font-size: 1.2rem !important;
    margin: 0;
}

.card-content p:first-child {
    margin-top: 0.25rem;
}

#start-row {
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
}

#start {
    font-size: calc(1rem + 0.8vw);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

#time, #date, #weather-title, #welcome, #weather-header {
    font-size: calc(1rem + 0.8vw);
}

#city {
    font-size: calc(1.5rem + 1vw);
    vertical-align: top;
}

.header-img-wrapper {
    max-width: calc((1.5rem + 1vw) * 1.35);
    min-width: calc((1.5rem + 1vw) * 1.35);
}

#quote {
    font-size: calc(1rem + 0.8vw);
    padding: 2rem;
}

#quote p {
    margin: 0;
}

.img-wrapper {
    max-width: 5rem;
    margin: 0 auto;
}

/*.#reload {
    display: none;
}

input {
    height: 60px !important;
    font-size: 120% !important;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0px;
    margin-bottom: 10px;
}*/
