body {
    margin: 0;
}

.col {
    height: 100%;
    /*border: 1px solid black;*/
    float: left;
    /*transition: background-color 3s ease;*/
    /*width: 5% !important;*/
}

.col:nth-child(odd) {
    /*background-color: green;*/
}

.col:nth-child(even) {
    /*background-color: blue;*/
}

.col:hover {
    /*background-color: red;*/
    /*transition: background-color 0.25s ease;*/
}