/*@import url(https://fonts.googleapis.com/css?family=Roboto);*/

body,
div,
input {
	font-family: 'Roboto', sans-serif;
}

input,
button {
	background-color: #ffffff;
	border: 1px solid #bfbfbf;
	overflow: auto;
}

input {
	box-shadow: 0 0 4px #bfbfbf;
}

button {
	border-radius: 2px;
}

input:hover,
button:hover {
    background-color: #f2f2f2;
}

input:focus,
button:focus {
    background-color: #ffffff;
	border: 1px solid #00cc00;
	outline: none;
}

input:focus {
    box-shadow: 0 0 6px #00cc00;
}

button:focus {
    box-shadow: 0 0 3px #00cc00;
}

::selection {
    background-color: #33ff33;
}
